@import 'tailwindcss';

@font-face {
  font-family: "JetBrains Mono:Bold";
  src: url("https://static.figma.com/font/JetBrainsMono_wght__1") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "JetBrains Mono:Regular";
  src: url("https://static.figma.com/font/JetBrainsMono_wght__1") format("woff2");
  font-style: normal;
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #161b22;
  color: #ffffff;
  font-family: "JetBrains Mono:Regular", "JetBrains Mono", monospace;
}

#root {
  min-height: 100dvh;
  display: flex;
}
